<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Menu Item</title>
</head>
<body>
    <form method="POST" action="{{ url_for('editMenu', restaurant_id=restaurantItem.id, menu_id=editMenuItem.id) }}">
        <p>Menu Item Name:</p>
        <input type = "text" size = 30, name = 'name'>
        <p>Description</p>
        <input type = "text" name = 'description'>
        <p>Price</p>
        <input type="text" name = "price">
        <p>Course</p>
        <input type = 'radio' name = 'course' value="Appetizer" >Appetizer</br>
        <input type = 'radio' name = 'course' value="Appetizer" >Entree</br>
        <input type = 'radio' name = 'course' value="Appetizer" >Desert</br>
        <input type = 'radio' name = 'course' value="Appetizer" >Beverage</br>
        </br>
        <input type = 'submit' value="edit">
    </form>
</body>
</html>