<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MenuList</title>
</head>
<br>
    <a href="{{ url_for('showRestaurants') }}"><h4>Main Menu</h4></a>

    {% for MenuItem in menu %}
        <li>{{ MenuItem.name }} - {{ MenuItem.description }} - {{ MenuItem.price }}</li>

        <p><a href="{{ url_for('editMenu', restaurant_id = MenuItem.restaurant_id , menu_id = MenuItem.id) }}">Edit Menu</a></p>

        <p><a href="{{ url_for('deleteMenu', restaurant_id = MenuItem.restaurant_id , menu_id = MenuItem.id) }}">Delete Entry</a></p>

    {% endfor %}

    </br>

    <p><a href="{{ url_for('postMenu', id = restaurant.id ) }}">Add Menu Item</a></p>

</body>
</html>